.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero img{
    object-fit: cover;
    margin-top: 90px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
 
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(267deg, #DA7C35 0.36%, #B923E1 103.06% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;

}
.hero-active{
display: flex;
align-items: center;
gap: 20px;
font-size: 22px;
margin-bottom: 50px;
font-weight: 500;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    cursor: pointer;
    background: linear-gradient(267deg, #DA7C35 0.36%, #B923E1 103.06% );
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    border-color: #B415FF ;
}

@media(max-width:768px){
    .hero img{
        margin-top: 30px;
        width: 260px;
        height: 260px;
    }
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }
    .hero p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }
    .hero-active{
        gap: 16px;
        
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 50px;
    }
    .hero-connect{
        padding: 15px 40px;
        border-radius: 40px;
    }
    .hero-resume{
        padding: 15px 40px;
        border-radius: 40px;
    }
}